 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        footer{font-style:italic;
    font-size:medium;
color: black;
height: 30px;
background-color: lightblue;
text-align: center;

}
    </style>
 </head>
 <body>
    
 </body>
 <footer><p>&copy;Xinpin Liu, student#301080625 COMP229 Assignment#1, June 2023</p></footer>
 </html>
 