<%- include ('partials/header.ejs') %>


    <!--<img src="img/logo.png" alt="logo">-->

    <main class="ontainer" style="background-color: cornsilk;">
<div class="jumbotron">

    <h2 style="text-align: center;color:darkseagreen;">Welcome to <%= title %> Page</h2><br><br>
    <img src="/img/Me.jpg" width="200" height="226" alt="Me" style="float: left;">
   
    <b> <p style="font-style: italic;color: black;font-size: 35px;">About Me</p></b><br>
    
    <div style="box-sizing: border-box;"><p style="font-size:24px ; font-style: italic;color:darkseagreen;">Hello, My name is Xinpin Liu, I am a passionate and hardworking individual who possesses a deep love for learning. 
        I approach every task and endeavor with dedication, constantly seeking new knowledge 
        and skills to broaden my horizons. My enthusiasm for education drives me to excel in
         my pursuits and constantly strive for personal growth. Moreover, my friendly nature makes
          me a pleasure to be around, as I foster warm and welcoming environments wherever I go. 
        </p>
        <br>
        <br>
       <button style="border-color: aquamarine;border-radius: 20%;background-color: darkseagreen;"> <a href="/documents/Resume.pdf" target="_blank" style="font-size: 30px;">Download Resume</a></button>
      </div> 
</div>
</main>

      <%- include ('partials/footer.ejs') %>



   