<%- include ('partials/header.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer" style="background-color: cornsilk;">
<div class="jumbotron" ">
    <h2 style="text-align: center;color:darkseagreen;">Welcome to <%= title %> Page</h2>
    <div >
        <b><p style="font-style: italic;color: black;font-size: 35px;">A Welcome Message From Xinpin (XL)</p></b>
        <p style="font-size:24px ; font-style: italic;color:darkseagreen;">
            Welcome to my website! I am delighted to have you here. 
            Explore my diverse range of offerings, discover valuable information, 
            and experience. Whether you're seeking inspiration, 
            seeking solutions, or simply curious, I am here to provide you 
            with an exceptional online experience. Feel free to navigate
             through my pages,and make yourself at home.
             Thank you for visiting!
        </p>
        <br><br>
       <b> <p style="font-style: italic;color: black;font-size: 35px;">Mission Statement</p></b>
           <div style="box-sizing: border-box;"><p style="font-size:24px ; font-style: italic;color:darkseagreen;">
             As a software student, my mission is to embrace continuous growth 
             and actively shape the future through my passion for software development.
             I am committed to honing my technical skills, expanding my knowledge, 
             and staying up-to-date with the latest advancements in the field. 
             By immersing myself in diverse projects and collaborations,
              I aim to push boundaries, solve complex problems, and create 
              innovative solutions that positively impact individuals and society.</p>
            </div>
            
    </div>
</div>
</main>

     
      <%- include ('partials/footer.ejs') %>



   <!--  <style>
        /* CSS styles */
        .long-paragraph {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            text-align: justify;
            margin: 0 auto;
            max-width: 800px;
            padding: 20px;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>-->