<%- include ('partials/header.ejs') %>


    <!--<img src="img/logo.png" alt="logo">-->

    <main class="ontainer" style="background-color: cornsilk;">
<div class="jumbotron">

    <h2 style="text-align: center;color:darkseagreen;">Welcome to <%= title %> Page</h2>
    </div>
    <div class="footerMain" style="background:linear-gradient();
    border: 2px solid #6B6B00;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #666666;
    padding: 6px;
    width:auto;
    height:auto;
    ">

        <div id="calculator" style=" float: left;
        margin: 0px;
        width: 30%; box-sizing: border-box;border: 2px solid burlywood;border-radius: 20px;">
            <h3><b>GUI Calculator Project</b></h3>
            <img src="/img/calculator.png" alt="calculator" width="260" height="260" style="text-align: center;">
            <p style="font-style: italic;font-size: larger;color: #6B6B00;">During second semester, I have learned about hoew to use windows App in programming2
               this is one of my project, I have created a GUI calculator, you can do simple calculation
               such as addition, subtraction, multiplacation and division. This project built my confidence 
               in programming. The advantage of a GUI calculator is that it provides a user-friendly and intuitive
                interface, making it easier for users to input numbers and perform calculations.
                 The visual feedback and interactive elements enhance the user 
                 experience and allow for quick and convenient mathematical computations.

            </p>
        </div>

        <div id="termProject" style=" float: left;
        margin: 0px;
        width: 33.33%; box-sizing: border-box;border: 2px solid burlywood;border-radius: 20px;">
            <h3><b>My Real Estate Web Page</b></h3>
            <img src="/img/termProject.png" alt="webPage" width="300" height="260" style="text-align: center;">
            <p style="font-style: italic;font-size: larger;color: #6B6B00;">This is my real Estate
            Web page, I have applied my knowledge in HTML, Javascript, css to complete this project.
            this web page display the property listings, property pictures, detail information of the property
            user can click into another pages to find more information.
            Property Listings: The website displays a wide range
             of properties available for sale or rent, including houses,
              apartments, commercial spaces, land, and more.
        
            <br>Contact and Inquiry Options: Real estate websites often offer 
            contact forms, inquiry buttons, or direct contact details for users
             to reach out to the listing agents or property owners for 
             more information or to schedule viewings.
            </p>

        </div>

        <div id="softwareRequirement" style=" float: left;
        margin: 0px;
        width: 33.33%; box-sizing: border-box;border: 2px solid burlywood;border-radius: 20px;">
            <h3><b>Software Requirement Specification Project</b></h3>
            <img src="/img/srs.jpg" alt="webPage" width="300" height="260" style="text-align: center;">
            <p style="font-style: italic;font-size: larger;color: #6B6B00;">
                A Software Requirement Specification (SRS) document 
                is a concise and structured document that outlines the 
                functional and non-functional requirements of a software system. 
                It serves as a blueprint for the development team, stakeholders, 
                and clients, detailing the desired features, capabilities, 
                and constraints of the software.
                We have learned about software requiement specification, and we did group project 
                on the document. The picture shows the flow of the sequecce of working in this 
                documents. If you need more information 
                about my group software application, feel free to contact me.
            
            
            
            
            </p>

        </div>
    </div>

</main>

     
      <%- include ('partials/footer.ejs') %>



   