<%- include ('partials/header.ejs') %>


    <!--<img src="img/logo.png" alt="logo">-->

    <main class="ontainer" style="background-color: cornsilk;">
<div class="jumbotron">

    <h2 style="text-align: center;color:darkseagreen;">Welcome to <%= title %> Page</h2>
   <h3><b>The services I offer below</b></h3>
   <ul style="image-rendering: auto;
   list-style-image:url('img/heart.gif');
   list-style-position: inside;
   ">
    <li>Mobile Apps</li>
    <li>Web Development</li>
    <li>General Programming</li>
   </ul>


</div>
</main>

      <%- include ('partials/footer.ejs') %>



   